.admin__container {
  padding: 1em;
  /* font-family: "Source Sans Pro"; */
  margin-bottom: 8em;
}

.admin__button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 2em;
}

@media (min-width: 1001px) {
  .admin__container {
    padding-left: 15em;
    padding-right: 15em;
  }
  .admin__button-container {
    justify-content: space-around;
  }
}
