.home__container {
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 2em 0 2em 0;
}

.home__item {
  color: #585858;
  font-size: 1.5em;
  font-family: "Source Sans Pro";
}

.home__item:hover {
  color: #e2e2c7;
  text-decoration: none;
}
