.register__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro";
  padding: 2em 2em 6em 2em;
}

.register__error {
  font-size: small;
  color: red;
  margin-top: 1em;
}
