.sectionInside__container {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #525252;
}

.sectionInside__title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.sectionInside__textSection {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.sectionInside__year {
  margin-top: 1em;
  font-family: "Montserrat";
  font-weight: 500;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 1.5s;
}

.sectionInside__text {
  text-align: justify;
  font-size: 1em;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 1.5s;
}

.sectionInside__hidden {
  display: none;
}

@media (min-width: 1001px) {
  .sectionInside__container {
    align-items: center;
  }

  .sectionInside__textSection {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    width: 80vw;
  }
}
