.documentacionInsideImage__container {
  position: relative;
}

.documentacionInsideImage__image {
  width: 100%;
}

.documentacionInsideImage__hidden {
  visibility: hidden;
}

.documentacionInsideImage__visible {
  visibility: visible;
}

@media (max-width: 1001px) {
  .documentacionInsideImage__container {
    margin-bottom: 1em;
  }
}
