.footer__container {
  display: flex;
  flex-direction: column;
  /* background-color: #f6f6f6; */
  padding: 1em;
}

.footer__title {
  line-height: 1.5;
  font-size: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-family: "Montserrat";
  /* font-weight: 500; */
  color: #242424;
}

.footer__text {
  font-size: 1em;
  /* font-family: "Montserrat"; */
  letter-spacing: 1px;
  text-decoration: none;
  color: #414141;
}

.footer__social-container {
  margin-bottom: 2em;
}

.footer__social-icons {
  color: #585858;
  text-decoration: none;
}

.footer__social-icons:visited {
  color: #585858;
}

.footer__social-icons:first-child {
  margin-left: -5px;
  margin-right: 1em;
}

.footer__contacto {
  margin-bottom: 1em;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  color: #585858;
  font-size: 0.8em;
  text-decoration: none !important;
  padding-top: 1em;
  border-top: 1px solid rgb(230, 230, 230);
}

.footer__copyright:visited {
  color: #585858;
}

.footer__mail {
  color: inherit !important;
  text-decoration: none !important;
}

.footer__mail:visited {
  color: #585858;
}

/* Tablets */
@media (min-width: 767px) {
  .footer__title {
    font-size: 1.2em;
  }

  .footer__text {
    font-size: 1.1em;
  }

  /* .footer__copyright {
    font-size: 1em;
  } */
}
