.footer__container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 3em 1em 1em 2em;
  font-family: "Source Sans Pro";
  color: #585858;
}

.footer__title {
  line-height: 1.5;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  margin-bottom: 2em;
}

.footer__text {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-decoration: none;
}

.footer__social-container {
  margin-bottom: 3em !important;
}

.footer__social-icons {
  margin-right: 0.5em;
  color: #585858;
  text-decoration: none;
}
