.navbar__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em;
}

/* .navbar__logoAndTitle__container {
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.title__container {
}
.title {
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-size: 2em;
  color: #585858;
  letter-spacing: 0.05em;
}

.cazaicon {
  width: 2em;
  margin-right: 0.5em;
} */

/* Tablets */
@media (min-width: 767px) {
  .navBar__iconButton {
    height: 200px;
  }
}
