.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo-title__container {
    display: flex;
    align-items: center;
}

.title__container{

}
.title {
    font-family: "Source Sans Pro";
    font-weight: 900;
    font-size: 2em;
    color: #585858;
    letter-spacing: 0.05em;
}

.cazaicon {
    width: 3em;
    margin-right: 0.5em;
}

