.sectionInsideImage__container {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionInsideImage__image {
  width: 100%;
}

.sectionInsideImage__hidden {
  visibility: hidden;
}

.sectionInsideImage__visible {
  visibility: visible;
}

@media (min-width: 1001px) {
  .sectionInsideImage__container {
    width: 50vw;
    height: inherit;
    margin-bottom: 3em;
  }

  .sectionInsideImage__portrait {
    width: 30vw;
  }
}
