.app__container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* margin-top: 7em; */
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  max-height: 80px;
  max-width: 80px;
}

.thumbnail {
  max-height: 80px;
}
